<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <link rel="stylesheet" href="<%= BASE_URL %>critical.css">
    <style>
      @import url("https://fonts.googleapis.com/css?family=Cuprum|Exo+2|PT+Sans|PT+Sans+Narrow&subset=cyrillic,cyrillic-ext,latin-ext");
    </style>
    <title>questionnaire</title>
    
  </head>
  <body>
    <div id="loader" class="overlay">
      <div class="loader big">Loading...</div>
    </div>
    <noscript>
      <strong
        >We're sorry but questionnaire doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
