.currentStep {
  padding: 20px 0;
}

.checkboxContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked ~ .checkmark {
      background-color: #335bb7;
      :after{
        display: block;

      }
    }
    &:checked ~ .checkmark:after {
      display: block;
    }
  }
  &:hover input ~ .checkmark {
    background-color: #ccc;
  }
  &:hover input:checked ~ .checkmark {
    background-color: #335bb7;
  }
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 2px;
  background-color: #eee;
  border: 1px solid #ccc;
  transition: all 0.3s linear;
  &:after {
    content: "";
    position: absolute;
    display: none;
  }
}


.checkboxContainer .checkmark:after {
  left: 5.6px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2.4px 2.4px 0;
  transform: rotate(45deg);
}
.label {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #444444;
}

.rateElementsContainer {
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.rateElementsContainer img {
  width: 40px;
  height: 40px;
}

.rateElementContainer {
  display: flex;
  flex-grow: 3;
  align-items: center;
  cursor: pointer;
}

hr {
  height: 1px;
  background: #dddddd;
  flex-grow: 2;
  border: none;
}

.activeHr {
  background: #335bb7;
}

.hiddenHr {
  background: transparent;
}

.rateElement {
  width: 15px;
  height: 15px;
  border: solid 3px #dddddd;
  background-color: #ffffff;
  border-radius: 50%;
  transition: all 0.3s linear;
  position: relative;
}

.rateElement .count {
  width: 12px;
  height: 24px;
  position: absolute;
  top: -30px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.rateElement .lastCount {
  left: -5px;
}

.rateElementChecked {
  border: solid 3px #335bb7;
  background-color: #335bb7;
}

.rateElementHovered {
  border: solid 3px #ffffff;
  background-color: #335bb79e;
}

.hoveredHr {
  background: #335bb79e;
}

.hoveredCount {
  color: #335bb7;
  transition: all 0.3s linear;
}

.textarea {
  height: 139px;
  border-radius: 3px;
  border: solid 1px #dddddd;
  min-width: 100%;
  background: transparent;
  resize: none;
  font-family: "PT Sans Narrow", sans-serif;
  font-style: italic;
  padding: 14px;
  font-size: 16px;
  color: #b3b3b3;
}
