.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00000047;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.modal {
  background-color: #f5f5f5;
  width: 914px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  transition: all 0.3s linear;
  opacity: 1;
  overflow: hidden;
}

.hidden {
  padding: 40px;
  opacity: 0;
}

.maxHeightForStep0 {
  max-height: 434px;
}

.maxHeightForStep1 {
  max-height: 606px;
}

.maxHeightForStep2 {
  animation: animateToStep2 0.3s linear;
  animation-fill-mode: forwards;
}

.maxHeightForStep3 {
  animation: animateToStep3 0.3s linear;
  animation-fill-mode: forwards;
}

@keyframes animateToStep2 {
  from {
    max-height: 100px;
  }

  to {
    max-height: 450px;
  }
}

@keyframes animateToStep3 {
  from {
    max-height: 100px;
  }

  to {
    max-height: 300px;
  }
}

@media (max-width: 800px) {
  .modal {
    padding: 10px;
    overflow: auto;
    max-height: unset;
    max-height: 100%;
  }
}
