.buttonsContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.button {
  background: #335bb7;
  color: white;
  width: 103px;
  height: 45px;
  border-radius: 3px;
  outline: none;
  padding: 0;
  border: 0;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  position: relative;
  cursor: pointer;
}

.send {
  transition: all 0.3s linear;
  &:hover {
    color: #335bb7;
    background: white;
  }
}

.never_ask {
  color: #335bb7;
  background: transparent;
  font-size: 16px;
  width: auto;
  border: 1px solid transparent;
  width: 160px;
  transition: all 0.3s linear;
}

.never_ask,
.close,
.finish {
  &:hover {
    border-color: #335bb7;
  }
}

.close,
.finish {
  color: #335bb7;
  background: transparent;
  font-size: 20px;
  width: 103px;
  border: 1px solid transparent;
  transition: all 0.3s linear;
}

.alert {
  position: absolute;
  border-radius: 12px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.2s linear;
  padding: 5px;
  color: #ff6666;
  background: white;
  min-width: 70px;
  text-align: center;
  top: -27px;
  right: -10px;
  left: auto;
  width: 125px;
}

.showedAlert {
  animation: showAlert 0.3s linear;
  animation-fill-mode: forwards;
}

@keyframes showAlert {
  from {
    opacity: 0;
    transform: translate3d(0px, 10px, 0px);
  }

  to {
    opacity: 1;
    transform: translate3d(0px, -3px, 0px);
  }
}
