.container {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.modalContainer {
  width: 100%;
}

.lastScreenContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  height: 60px;
  width: auto;
  background-color: #404040;
  padding: 0 90px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.questionnaireAlert {
  background-color: #60985c;
  min-height: 30px;
  padding: 0 90px;
  margin: 0;
  display: flex;
  align-items: center;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: #ffffff;
}

.closeQuestionnaireAlert {
  margin-left: auto;
  cursor: pointer;
}

.footer {
  height: 70px;
  width: auto;
  padding: 0 90px;
  background-color: #404040;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.footer {
  .gazpromLogo g {
    fill: #8c8c8c;
  }
  .opti24Logo {
    filter: grayscale(1);
    path:last-of-type {
      fill: #8c8c8c;
    }
  }
}

.screenTitle {
  font-size: 32px;
  color: #444444;
  margin: 0;
}

.screenLabel {
  font-size: 19px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #444444;
  min-height: 20px;
  letter-spacing: 0.3px;
}

.screenText {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #554d56;
  letter-spacing: 0.3px;
}

.startButton {
  padding: 0 6px;
  outline: none;
  background: transparent;
  border: none;
  color: white;
  text-decoration: underline;
  cursor: pointer;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 14px;
  letter-spacing: 0.4px;
}

@media (max-width: 800px) {
  .navbar,
  .footer,
  .questionnaireAlert {
    padding: 10px;
  }
  .mainScreenTitle {
    max-width: 180px;
  }
}
